body {
	margin: 0px;
	background: url('../images/bg.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}
div.main {
	background-color: rgba(45, 45, 45, 0.3);
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 500px;
	margin-left: -500px;
	margin-top: -250px;
}
div.center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 250px;
	margin-left: -250px;
	margin-top: -100px;
}
div.divider {
	background: url(../images/divider.png) no-repeat bottom center;
	padding-bottom: 12px;
	display: block;
	height: 10px;
	content: ",";
	text-indent: -9999px;
	text-align: center;
	margin: auto auto 24px;
}
span.title {
	font-family: 'ChunkFive';
	font-size: 72px;
}
span.subtitle {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}
@font-face {
	font-family: 'ChunkFive';
	src: url('../fonts/ChunkFive.eot?')          format('eot'), 
		 url('../fonts/ChunkFive.otf')           format('opentype'),
		 url('../fonts/ChunkFive.woff')          format('woff'), 
		 url('../fonts/ChunkFive.ttf')           format('truetype'),
		 url('../fonts/ChunkFive.svg#ChunkFive') format('svg');
}