body {
	background: url("../images/bg-static.png"), url('../images/bg.png') no-repeat center center;
	background-attachment: fixed;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	color: #2D2D2D;
	text-align: center;
	font-size: 16px;
}

::-webkit-scrollbar {
	display: none;
}

a, a:visited {
	font-weight: 700;
	color: inherit;
	transition: color 0.5s, background-color 0.5s;
	text-decoration: none;
}

a:hover {
	color: #808080;
}

h1 {
	font-size: 48px;
	border-bottom: 2px dashed #2D2D2D;
	margin: 15px 0px 15px 0px;
	text-indent: 20px;
}

div.header {
	margin: 50px auto;
	margin-top: 110px;
	width: 600px;
}

div.divider {
	padding-bottom: 12px;
	border-bottom: 2px solid white;
	margin-bottom: 24px;
}

div#title {
	font-family: 'ChunkFive';
	font-size: 72px;
	color: white;
}

div.subtitle {
	font-weight: 700;
	text-transform: uppercase;
	text-align: justify;
	text-indent: 20px;
	width: 550px;
	margin: 0 auto;
	color: white;
}

div.subtitle > span,
h1 {
	font-weight: 800;
}

div.page {
	width: 700px;
	background: #EBEBEB;
	text-shadow: 0px 0px 0px black;
	text-align: justify;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

div.para {
	text-indent: 20px;
	padding: 0px 10px 0px 10px;
}

img#selfie {
	width: 160px;
	height: 160px;
	float: left;
	padding: 10px 20px 0px 20px;
	border-radius: 100%;
}

ul.navi {
	background-color: #2D2D2D;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	text-align: center;
	list-style-type: none;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	margin-left: -20px;
}

ul.navi > li {
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
}

ul.navi > li > a {
	background-color: #5A5A5A;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
	color: #DDDDDD;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0px 0px 0px #000000;
	text-decoration: none;
}

ul.navi > li > a:hover {
	background-color: #696969;
	text-decoration: none;
}

@font-face {
	font-family: 'ChunkFive';
	src: url('../fonts/ChunkFive.eot?')          format('eot'), 
		 url('../fonts/ChunkFive.otf')           format('opentype'),
		 url('../fonts/ChunkFive.woff')          format('woff'), 
		 url('../fonts/ChunkFive.ttf')           format('truetype'),
		 url('../fonts/ChunkFive.svg#ChunkFive') format('svg');
}
