body {
	background: url("../images/bg-static.png"), url('../images/bg.png') no-repeat center center;
	background-attachment: fixed;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	color: #2D2D2D;
	text-align: center;
	font-size: 14px;
}

a, a:visited {
	font-weight: 700;
	color: inherit;
	transition: color 0.5s, background-color 0.5s;
	text-decoration: none;
}

a:hover {
	color: #808080;
}

h1 {
	font-size: 48px;
	border-bottom: 2px dashed #2D2D2D;
	margin: 25px 0px 25px 0px;
	text-indent: 20px;
}

div.header {
	margin: 50px auto;
	margin-top: 110px;
	width: 600px;
}

div.divider {
	padding-bottom: 12px;
	border-bottom: 2px solid white;
	margin-bottom: 24px;
}

div#title {
	font-family: 'ChunkFive';
	font-size: 72px;
	color: white;
}

div.subtitle {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	text-align: justify;
	text-indent: 20px;
	width: 550px;
	margin: 0 auto;
	color: white;
}

div.subtitle > span,
h1 {
	font-weight: 800;
}

div.page {
	width: 700px;
	background: #EBEBEB;
	text-shadow: 0px 0px 0px black;
	text-align: justify;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

div.para {
	padding: 0px 20px 0px 20px;
}

div.project {
	border: 1px solid #C2C2C2;
	border-top: 0px solid black;
	padding: 20px 40px 20px 40px;
}

div.project:first-child {
	border: 1px solid #C2C2C2 !important;
}

div.odd {
	background: #DDDDDD;
}

div.even {
	background: #CECECE;
}

a.project-title {
	font-size: 32px;
	font-weight: 800;
	text-transform: uppercase;
}

img.selfie {
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
 	-moz-border-radius: 50%;
	border: 5px solid white;
}

ul.navi {
	background-color: #2D2D2D;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	text-align: center;
	list-style-type: none;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	margin-left: -20px;
}

ul.navi > li {
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
}

ul.navi > li > a {
	background-color: #5A5A5A;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
	color: #DDDDDD;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0px 0px 0px #000000;
	text-decoration: none;
}

ul.navi > li > a:hover {
	background-color: #696969;
	text-decoration: none;
}

a.github {
	background-color: #DDDDDD;
	border-radius: 10px;
	padding: 20px 30px 20px 30px;
	margin: 10px;
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 0px #000000;
	text-transform: uppercase;
}

a.github:hover {
	background-color: #CBCBCB;
	text-decoration: none;
}

div.nicescroll-rails:hover {
	background-color: rgba(206, 208, 211, 0.5) !important;
}

@font-face {
	font-family: 'ChunkFive';
	src: url('../fonts/ChunkFive.eot?')          format('eot'), 
		 url('../fonts/ChunkFive.otf')           format('opentype'),
		 url('../fonts/ChunkFive.woff')          format('woff'), 
		 url('../fonts/ChunkFive.ttf')           format('truetype'),
		 url('../fonts/ChunkFive.svg#ChunkFive') format('svg');
}
