body {
	margin: 0px;
	background: url('../images/bg.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar {
	display: none;
}
div.header {
	background: url('../images/bg-static.png');
	height: 100vh;
}
div.main {
	background-color: rgba(45, 45, 45, 0.3);
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 500px;
	margin-left: -500px;
	margin-top: -250px;
}
div.center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 250px;
	margin-left: -250px;
	margin-top: -100px;
}
div.divider {
	background: url('../images/divider.png') no-repeat bottom center;
	padding-bottom: 12px;
	display: block;
	height: 10px;
	content: ",";
	text-indent: -9999px;
	text-align: center;
	margin: auto auto 24px;
}
div#title {
	font-family: 'ChunkFive';
	font-size: 72px;
}
div.subtitle {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
div.navi {
	background-color: #EEEEEE;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	text-align: center;
}
span.navi {
	padding-left: 5px;
	padding-right: 5px;
}
a.navi {
	background-color: #DDDDDD;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0px 0px 0px #000000;
}
a.navi:hover {
	background-color: #CBCBCB;
	text-decoration: none;
}
@font-face {
	font-family: 'ChunkFive';
	src: url('../fonts/ChunkFive.eot?')          format('eot'), 
		 url('../fonts/ChunkFive.otf')           format('opentype'),
		 url('../fonts/ChunkFive.woff')          format('woff'), 
		 url('../fonts/ChunkFive.ttf')           format('truetype'),
		 url('../fonts/ChunkFive.svg#ChunkFive') format('svg');
}