body {
	margin: 0px;
	background-color: #EEEEEE;
	color: #2D2D2D;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
	box-align: center;
}
::-webkit-scrollbar {
	display: none;
}
div.main {
	height: 100vh;
}
div.header {
	padding-top: 25px;
	text-align: center;
	height: 30%;
}
div#title {
	font-family: 'ChunkFive';
	font-size: 72px;
}
div.subtitle {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
div.divider {
	background: url('../images/divider_dark.png') no-repeat bottom center;
	padding-bottom: 12px;
	display: block;
	height: 10px;
	content: ",";
	text-indent: -9999px;
	text-align: center;
	margin: auto auto 24px;
	width: 400px;
}
div.content {
	height: 70%;
}
div.container {
	width: 1026px;
	margin: 0px auto;
}
div.entry {
	float: left;
	border-left: 1px dashed #2D2D2D;
	border-right: 1px dashed #2D2D2D;
	width: 300px;
	height: 350px;
	margin: 20px;
}
div.entry_title {
	padding-top: 10px;
	font-family: 'ChunkFive';
	font-size: 36px;
}
div.entry_divider {
	background: url('../images/divider_dark.png') no-repeat bottom center;
	padding-bottom: 12px;
	display: block;
	height: 10px;
	content: ",";
	text-indent: -9999px;
	text-align: center;
	margin: auto auto 24px;
	width: 250px;
}
div.entry_content {
	width: 250px;
	margin: auto;
	font-size: 16px;
}
a.github-page {
	background-color: #DDDDDD;
	border-radius: 10px;
	padding: 20px 30px 20px 30px;
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 0px #000000;
	text-transform: uppercase;
}
a.github-page:hover {
	background-color: #CBCBCB;
	text-decoration: none;
}
div.navi {
	background-color: #DDDDDD;
	padding: 20px;
	text-align: center;
}
span.navi {
	padding-left: 5px;
	padding-right: 5px;
}
a.navi {
	background-color: #CCCCCC;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0px 0px 0px #000000;
	text-decoration: none;
}
a.navi:hover {
	background-color: #BBBBBB;
	text-decoration: none;
}
@font-face {
	font-family: 'ChunkFive';
	src: url('../fonts/ChunkFive.eot?')          format('eot'), 
		 url('../fonts/ChunkFive.otf')           format('opentype'),
		 url('../fonts/ChunkFive.woff')          format('woff'), 
		 url('../fonts/ChunkFive.ttf')           format('truetype'),
		 url('../fonts/ChunkFive.svg#ChunkFive') format('svg');
}s