@import url("http://fonts.googleapis.com/css?family=Raleway:300,700");

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background: url("/img/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: white;
}

div {
	margin: 0 auto;
}

h1 {
	font-size: 56px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 35px;
}

a {
	color: inherit;
	font-weight: 700;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid white;
}

div.center {
	display: table;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50vh;
	margin-left: -50vw;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

div.center > div {
	display: table-cell;
	vertical-align: middle;
}

div.title {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 850px;
	padding: 20px 0px;
	margin: 20px auto;
}

div.subtitle {
	width: 900px;
}

div.social {
	margin: 20px 0px;
	font-size: 32px;
}

div.social a {
	display: inline-block;
	margin: 0px 10px;
	padding: 0px 1px;
	-webkit-transition: -webkit-transform .2s ease-in-out;
	-moz-transition: -moz-transition .2s ease-in-out;
	-o-transform: -o-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
}

div.social a:hover {
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
	border: 0;
}

a.contact {
	display: inline-block;
	border: 1px solid white;
	border-radius: 2px;
	color: white;
	padding: 25px 55px;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	-webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
	-o-transform: background-color .3s ease-in-out, color .3s ease-in-out;
	transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

a.contact:hover {
	background-color: white;
	color: #2D2D2D;
}

div.animate-1,
div.animate-2 {
	position: relative;
}

/* timing function taken from http://stackoverflow.com/a/9245729 to emulate previous behavior */

div.animate-1 {
	-webkit-animation: anim-one 1.5s cubic-bezier(.02, .01, .47, 1) 1.25s 1 normal both;
	-moz-animation: anim-one 1.5s cubic-bezier(.02, .01, .47, 1) 1.25s 1 normal both;
	-o-animation: anim-one 1.5s cubic-bezier(.02, .01, .47, 1) 1.25s 1 normal both;
	animation: anim-one 1.5s cubic-bezier(.02, .01, .47, 1) 1.25s 1 normal both;
}

div.animate-2 {
	-webkit-animation: anim-two 1.5s cubic-bezier(.02, .01, .47, 1) 1.25s 1 normal both;
	-moz-animation: anim-two 1.5s cubic-bezier(.02, .01, .47, 1) 1.25s 1 normal both;
	-o-animation: anim-two 1.5s cubic-bezier(.02, .01, .47, 1) 1.25s 1 normal both;
	animation: anim-two 1.5s cubic-bezier(.02, .01, .47, 1) 1.25s 1 normal both;
}

/* Keyframes */

@-webkit-keyframes anim-one {
	from {
		top: 95px;
	}
	
	to {
		top: 0px;
	}
}

@-moz-keyframes anim-one {
	from {
		top: 95px;
	}
	
	to {
		top: 0px;
	}
}

@-o-keyframes anim-one {
	from {
		top: 95px;
	}
	
	to {
		top: 0px;
	}
}

@keyframes anim-one {
	from {
		top: 95px;
	}
	
	to {
		top: 0px;
	}
}

@-webkit-keyframes anim-two {
	from {
		opacity: 0;
		top: 30px;
	}
	
	to {
		opacity: 1;
		top: 0px;
	}
}

@-moz-keyframes anim-two {
	from {
		opacity: 0;
		top: 30px;
	}
	
	to {
		opacity: 1;
		top: 0px;
	}
}

@-o-keyframes anim-two {
	from {
		opacity: 0;
		top: 30px;
	}
	
	to {
		opacity: 1;
		top: 0px;
	}
}

@keyframes anim-two {
	from {
		opacity: 0;
		top: 30px;
	}
	
	to {
		opacity: 1;
		top: 0px;
	}
}