<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cols</key>
	<array>
		<integer>35</integer>
		<integer>97</integer>
		<integer>159</integer>
		<integer>221</integer>
	</array>
	<key>EasyGrid</key>
	<true/>
	<key>Rows</key>
	<array>
		<integer>87</integer>
		<integer>149</integer>
		<integer>211</integer>
		<integer>273</integer>
	</array>
</dict>
</plist>
