div#motdwrap {
	border: 0;
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0.0);
}
button#togglemotd {
	display: none;
}
#chatheader, #currenttitle, #userlist, #messagebuffer {
	border: 0;
}
body {
	font-family: 'Open Sans';
	background: url('http://images.forwallpaper.com/files/images/7/71b7/71b763ca/256982/texture-wallpaper-black-squares-background.jpg') center no-repeat;
}
.userlist_owner {
	color: #04A304 !important;
}
.glyphicon-time {
	display: none;
}
#chatline {
	border-radius: 0px;
}
.navbar {
	background: rgba(0, 0, 0, 0.5) !important;
}
