/***********************************************************/
/**  ____  __  __    _    _     _        ____ ____ ____   **/
/** / ___||  \/  |  / \  | |   | |      / ___/ ___/ ___|  **/
/** \___ \| |\/| | / _ \ | |   | |     | |   \___ \___ \  **/
/**  ___) | |  | |/ ___ \| |___| |___  | |___ ___) |__) | **/
/** |____/|_|  |_/_/   \_\_____|_____|  \____|____/____/  **/
/**                                                       **/
/***********************************************************/

/* Window widths below 825px */
@media (max-width: 825px){
	header,
	div.scroll_btns {
		display: none;
	}

	nav {
		opacity: 1 !important;
	}

	nav ul.navbar,
	div.page {
		width: auto;
	}

	div.page {
		margin-top: 62px;
	}
}